.venv/
**/__pycache__/
*.pyc
*.pyo
*.pyd
.Python/
env/
venv/
*.egg-info/
.pytest_cache/
.coverage
htmlcov/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
local.env
*.env

export_structure.bat
file_structure.txt

openapi.json